.container-auth {
  display: flex;
  justify-content: center;
  /* background-color: red; */
}

.auth-form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  border: 2px solid #dbd9d9;
  color: #28282b;
}

.login {
  width: 375px;
  border-radius: 45px;
  margin-top: 10%;
}

.register {
  width: 500px;
  border-radius: 60px;
  margin-top: 5%;
  margin-bottom: 10%;
}

.login h1 {
  padding: 15px 0 25px 0;
  font-size: 30px;
  margin-bottom: 40px;
  border-bottom: 2px solid #dbd9d9;
  display: absolute;
  width: 100%;
  text-align: center;
}

.register-header {
  padding: 0 0 20px 0;
  margin-bottom: 40px;

  border-bottom: 2px solid #dbd9d9;
  width: 100%;
  text-align: center;
}

.register-header h1 {
  margin-top: 35px;
  margin-bottom: 5px;
  font-size: 30px;
}

.register-header p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  color: #7c7c86;
}

.auth-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form .auth-item {
  position: relative;
  border-bottom: 2px solid #dbd9d9;
  margin-bottom: 30px;
}

.auth-item input {
  width: 100%;
  padding: 0 10px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.register-item input {
  width: 250px;
}

.auth-item label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #b6b6b6;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}

.auth-item span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #28282b;
  transition: 0.5s;
}

.auth-item input:focus ~ label,
.auth-item input:not(:placeholder-shown) ~ label {
  top: -5px;
  color: #28282b;
}

.auth-item input:focus ~ span::before,
.auth-item input:not(:placeholder-shown) ~ span::before {
  width: 100%;
}

.auth-form button {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 60%;
  height: 50px;
  border: 1px solid;
  background-color: #28282b;
  color: white;
  border-radius: 14px;
  font-size: 18px;
  font-weight: 700px;
  cursor: pointer;
  outline: none;
  transition: 0.15s;
}

.auth-form button:hover {
  opacity: 0.8;
}

.redirect-link {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 16px;
  color: #7c7c86;
}

.redirect-link a {
  color: #28282b;
  transition: 0.15s;
}

.redirect-link a:hover {
  opacity: 0.6;
}
