.dashboard-info {
  margin-top: 100px;
  /* margin-left: 450px;
  margin-right: 450px; */
  margin-left: 23%; /* de vazut aici */
  margin-right: 23%; /* de vazut aici */
  min-width: 900px; /* de vazut */

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-bottom: 50%;
}

.dashboard-info .top {
  margin-bottom: 50px;
}

.dashboard-info .top div {
  display: flex;
  align-items: center;
}

.dashboard-info .top h1 {
  font-size: 30px;
  font-weight: 700;
}

.dashboard-info .top span {
  font-size: 17px;
  font-weight: 400;
  color: rgb(146, 146, 146);
  margin-left: 25px;
}

.dashboard-info .dashboard-btn {
  padding: 10px 10px 10px 10px;

  background-color: #28272b;
  border: 1px solid #28272b;
  border-radius: 5px;
  color: #f3f3f3;
  font-size: 17px;

  cursor: pointer;
  transition: opacity 0.25s;
}

.dashboard-info .bottom .add-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  margin-left: 20px;
}

.dashboard-info .dashboard-btn .btn-icon {
  height: 20px;
  width: 20px;
  margin: 0;
}

.dashboard-info .dashboard-btn:hover {
  opacity: 0.8;
}

.dashboard-info .bottom {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dashboard-info input {
  height: 40px;
  width: 80%;
  border: 1px solid #dbd9d9;
  border-radius: 3px;
  font-size: 15px;
  margin-right: 20px;
  padding-left: 10px;
}

.dashboard-info input::placeholder {
  color: rgb(175, 175, 175);
  font-size: 15px;
}

.dashboard-info input:focus {
  outline: none;
  font-size: 15px;
}

.dashboard-info .bottom .search-btn {
  padding: 0px 20px;
  border-radius: 5px;
}
