.header {
  font-size: 17px;
  padding: 5px 6%;
  background-color: #f3f3f3;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0;
  max-height: 65px;
  z-index: 100;
}

.delos-logo {
  height: 65px;
  cursor: pointer;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-left: 20px;
  height: 70px;
  cursor: pointer;
  transition: opacity 0.25s;
}

.nav-items li a {
  padding: 30px 10px 30px 30px;
  color: #28282b;
  text-decoration: none;
}

.nav-items .header-link:hover {
  opacity: 0.5;
}

.test2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header-icon2 {
  height: 22px;
  width: 22px;
}

.active-item {
  border-bottom: 3px solid #28282b;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

.header-icon {
  height: 22px;
  width: 22px;
  margin-right: -30px;
}

.header-btn button {
  padding: 10px 10px 10px 10px;
  margin-left: 20px;

  background-color: #28272b;
  border: 1px solid #28272b;
  border-radius: 5px;
  color: #f3f3f3;
  font-size: 17px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;

  cursor: pointer;
  transition: opacity 0.25s;
}

.header-btn button .header-icon {
  height: 17px;
  width: 17px;
  margin: 0;
}

.header-btn button:hover {
  opacity: 0.75;
}
